
body{
    background-color: rgba(135, 207, 235, 0.603);
}

.loginArea{
    color: rgba(94, 87, 77, 0.315);
    

}

.input{
    color: navy;
    text-align: center;
    
}

input{
    box-shadow: 5px 5px 10px lightgray;

    
}

.area{
    background-color: rgba(43, 101, 226, 0.76);
    padding: 20px;
    box-shadow: 5px 5px 20px red;
    border-radius: 15px;
    margin-top: 60px;

}

.btn{
    box-shadow: 5px 5px 20px rgb(153, 0, 255);
}